<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

			$("#buscar_producto").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/factura/cargar-productos/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : item.id,
									label : item.nombre,
									precio : item.precio,
								};
							}));
						},
					});
				},
				select : function(event, ui) {
					//$("#buscar_producto").val(ui.item.label);

					//pregunta si el producto existe
					if(itemsHelper.hasProducto(ui.item.value)){ 
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
						return false;
					}
					
					var linea = $("#plantillaItemsFactura").html();

					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NOMBRE}/g, ui.item.label);
					linea = linea.replace(/{PRECIO}/g, ui.item.precio);

					$("#cargarItemProductos tbody").append(linea);
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1)
					
					return false;
				}
			});
			
			$("form").submit(function(){ // cuando se haga submit(se envie el formulario)
				$("#plantillaItemsFactura").remove(); //eliminamos la plantilla para que no lance error
				return;
			});
		});
		
		var itemsHelper = {
				calcularImporte: function(id, precio, cantidad){
					$("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
					this.calcularGranTotal(); // por si se aumenta la cantidad, se debe volver a calcular el gran total
				},
				hasProducto: function(id){ //busca linea por linea, para ver si existe el producto
					
					var resultado = false;
					
					$('input[name="item_id[]"]').each(function(){
						if(parseInt(id) == parseInt($(this).val()) ){ //si el id convertido a entero es igual al valor del input actual
							resultado = true;
						}	
					}); 
					
					return resultado;
				},
				incrementaCantidad: function(id, precio){
					var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
					$("#cantidad_" + id).val(++cantidad);
					this.calcularImporte(id, precio, cantidad);
				},
				eliminarLineaFactura: function(id){
					$("#row_" + id).remove(); // atravez de jquery obtenemos el elemento y se elimina
					this.calcularGranTotal(); // por si se borra alguna linea, se debe volver a calcular el gran total
				},
				calcularGranTotal: function(){
					var total = 0;
					
					$('span[id^="total_importe_"]').each(function(){ //^ expresión llamada sombrero // para que busque en todos los span donde el id contenga el total_importe_
						total += parseInt($(this).html()); // por cada span encontrado, obtenoemos su contenido html, que seria el total_importe_ y lo vamos sumando
					}); 
					
					$("#gran_total").html(total); // al gran total del formulario le asignamos el total
				}
		}
	</script>
</body>
</html>